body{
    background-color: Bisque;
    padding:7px;
    margin: auto;
    font-family: sans-serif;
}

h1{
    text-align: center;
    font-family: sans-serif;
    color: DarkCyan; 
}

h2{
    font-family: sans-serif;
    color: Black; 
}

h4{
    font-size:25px;
    color: FireBrick;
    font-family: sans-serif;
	margin-right: 30px;
}

a{
    text-decoration: none;
	font-family: sans-serif;
    color: Teal;
}

ol li{
    padding: 9px;
    color: FireBrick;
}

#navlist{ 
	position: fixed;	
	left: 3px;
	right: 3px;
	top: 0px;
	padding: 8px;
	margin: 0.5px;
	border-top: 2px solid black;
    border-bottom: 2px solid black;
	background-color: Bisque;
    font: bold 16px Verdana, sans-serif; 
}

#navlist li{ 
    display: inline; 
    margin-left: 17px;
}

#navlist li a{ 
    padding: 3px 1em;
    border: 1px solid DarkSlateBlue; 
    border-bottom: none;
    background: MediumSlateBlue; 
    color: black;
    text-decoration: none; 
}

#navlist li a:hover{
    color: white; 
    background: DarkSlateBlue; 
    border-color: black; 
}

@media (max-width: 1200px) {
    body{
        font-size: 100%;
    }
}

@media (max-width: 600px) {
    body{
        font-size: 80%;
    }
}
